LAB | Connecting Python to SQL

Establish a connection between Python and the Sakila database.

In [2]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

 ········

In [6]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:

engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
month: an integer representing the month for which rental data is to be retrieved.
year: an integer representing the year for which rental data is to be retrieved.
The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

In [14]:

def rentals_month(engine, month, year):
    
    query = f'''
    SELECT * 
    FROM rental 
    WHERE EXTRACT(MONTH FROM rental_date) = {month} 
    AND EXTRACT(YEAR FROM rental_date) = {year}
    '''

    df = pd.read_sql_query(query, engine)

    return df

In [15]:
#checking
#df = rentals_month(engine, 5, 2005)  
#print(df)

Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

Hint: Consider making use of pandas groupby()

In [12]:
def rental_count_month(df, month, year):
    # Group by customer_id and count the rentals
    rental_counts = df.groupby('customer_id').size().reset_index(name=f'rentals_{month:02d}_{year}')
    
    return rental_counts

In [16]:
#checking
#rental_count_month(df, 5, 2005)

     customer_id  rentals_05_2005
0              1                2
1              2                1
2              3                2
3              5                3
4              6                3
..           ...              ...
515          594                4
516          595                1
517          596                6
518          597                2
519          599                1

[520 rows x 2 columns]

Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

In [17]:
def compare_rentals(df1, df2):
    # Ensure the DataFrames have a common column to merge on
    common_column = 'customer_id'
    
    # Perform outer merge to ensure all customers from both DataFrames are included
    merged_df = pd.merge(df1, df2, on=common_column, how='outer', suffixes=('_1', '_2'))
    
    # Fill NaN values with 0 (in case a customer exists in one month but not the other)
    merged_df = merged_df.fillna(0)
    
    # Assuming the columns for rentals will be named dynamically based on `rental_count_month` function
    # Extracting the columns that were renamed
    rental_columns = [col for col in merged_df.columns if col.startswith('rentals_')]
    
    # Compute the difference between rentals in two months
    merged_df['difference'] = merged_df[rental_columns[0]] - merged_df[rental_columns[1]]
    
    return merged_df

In [ ]:
#checking
# Get rental data for different months/years
#rental_data_1 = rentals_month(engine, 5, 2005)  # May 2005
#rental_data_2 = rentals_month(engine, 6, 2005)  # June 2005

# Count rentals for these months
#rental_counts_1 = rental_count_month(rental_data_1, 5, 2005)
#rental_counts_2 = rental_count_month(rental_data_2, 6, 2005)

#test=compare_rentals(rental_counts_1, rental_counts_2)
#print(test.head())